@import "@/styles/_variables.scss";
@import "@/styles/_mixin.scss";

.box {
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);

  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 8px;
  background: var(--Neutral-Neutral-600, #3c444f);
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  z-index: 8000;
  padding-left: 16px;
  > div {
    // padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    > .ico {
      width: 24px;
      height: 24px;
      background-image: url("/images/common/ico_cookie.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    > p.text {
      color: var(--surface-on-surface);

      /* Yum/Body/Medium L */
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      > a {
        text-decoration: underline;
      }
    }
  }
  > button {
    width: 48px;
    height: 48px;
    background-image: url("/images/common/ico_close_w.svg");
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
  }

  @include mobile {
    bottom: 86px;
  }
}
