@import "@/styles/_variables.scss";
@import "@/styles/_mixin.scss";

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 40px;
  gap: 14px;
  padding-bottom: 40px;
  @include mobile {
    padding: 0 16px;
  }
  > .tab-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        button {
          padding: 8px 24px 8px 16px;
          transition: padding-right 500ms;
          color: var(--surface-on-surface);
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          border-bottom: 1px solid #e3e3e5;
          opacity: 0.6;

          @include mobile {
            padding: 8px 16px;
          }

          &.only {
            @include mobile {
              font-size: 20px;
            }
            border-bottom: none;
            padding: 0 !important;
          }

          &.active {
            padding: 8px 40px 8px 16px;
            opacity: 1;
            @include mobile {
              padding: 8px 16px;
            }
            // font-size: 20px;
          }
        }
      }
    }
  }
}
