@import "@/styles/_variables.scss";
@import "@/styles/_mixin.scss";

// 임시 시작

.wrapper {
  // width: 100dvw;
  // height: 100dvh;
  // // padding: 10px;

  // display: flex;
  // align-items: center;
  // justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 7000;

  .modal-content {
    position: relative;
    z-index: 5500;
    border-radius: 16px;
    overflow: hidden;
    background: var(--surface-surf-container);
    box-shadow:
      0px 1px 2px 0px rgba(0, 0, 0, 0.3),
      0px 2px 6px 2px rgba(0, 0, 0, 0.15);

    &.full {
      @include mobile {
        border-radius: 0px;
      }
    }

    .close-btn {
      width: 24px;
      height: 24px;
      background-image: var(--ico-close-g);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      left: 16px;
      top: 16px;
      z-index: 6000;

      &.right {
        left: auto;
        right: 16px;
      }
    }

    .back-btn {
      width: 24px;
      height: 24px;
      background-image: var(--ico-arrow-big);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      left: 16px;
      top: 16px;
      z-index: 6000;
    }
    > div {
      section {
        max-height: calc(100dvh - 200px);
        overflow-y: scroll;
        justify-content: flex-start;
      }
      width: 460px;
      @include mobile {
        min-width: 312px;
        width: calc(100dvw - 48px);
      }
    }
  }
}
