@import "@/styles/_variables.scss";
@import "@/styles/_mixin.scss";

.deposit-bonus-modal {
  // height: 640px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  @include mobile {
    height: auto;
  }
  > .top {
    width: 100%;

    height: 56px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
      color: var(--surface-on-surface);
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
  .content {
    width: 100%;
    // padding: 24px 0 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 8px 24px 32px 24px;
    overflow-y: scroll;
    @include mobile {
      padding: 8px 16px 24px 16px;
    }
    // gap: 24px;
    // flex: 1;
    // height: calc(100dvh - 200px);
    max-height: calc(100dvh - 200px);
    p.partner-code {
      color: var(--surface-signature-surface);
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 4px;
    }
    p.title {
      color: var(--surface-on-surface);
      font-family: Poppins;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 16px;
    }
    pre.sub {
      white-space: pre-line;
      color: var(--surface-on-surface);
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 24px;
      @include mobile {
        margin-bottom: 16px;
      }
    }
    .bonus-box {
      width: 100%;
      padding: 16px;
      border-radius: 8px;
      border: 1px solid #fab630;
      background: linear-gradient(135deg, #5b0371 1.89%, #0a1027 51.45%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      > div {
        flex: 1;
        @include mobile {
          &:first-child {
            flex: none;
          }
          &:last-child {
            flex: 1;
          }
        }
      }

      .bonus-info-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include mobile {
          align-items: flex-start;
        }
        > span {
          color: var(--surface-on-surface);
          font-size: 14px;
          font-weight: 700;
          line-height: 1.5;
        }
        > p.percent {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          > span {
            &:first-child {
              color: var(--surface-on-surface);
              font-family: Poppins;
              font-size: 64px;
              font-weight: 700;
              line-height: 1;
              @include mobile {
                font-size: 40px;
              }
            }
            &:last-child {
              color: var(--surface-on-surface);
              font-family: Poppins;
              font-size: 24px;
              font-weight: 700;
              line-height: 1;
            }
          }
        }
        > p.info {
          color: var(--Semantic-Success-500, #1db954);
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.5;
          display: none;
          @include mobile {
            display: block;
          }
        }
      }

      .bonus-text-box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        > span {
          color: var(--Semantic-Success-500, #1db954);
          font-family: Poppins;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
          @include mobile {
            display: none;
          }
        }
        > .group {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          > .row {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            > span {
              font-size: 14px;
              font-weight: 400;
              line-height: 1.5;
              &:first-child {
                color: var(--surface-on-surface);
              }
              &:last-child {
                color: var(--surface-on-surface);
              }
            }
          }
        }
      }
    }

    ul {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      margin-top: 24px;
      @include mobile {
        margin-top: 16px;
      }
      // gap: 4px;
      li {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        opacity: 0.8;
        &::before {
          content: "·";
          color: var(--surface-on-surface-var);
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          width: 12px;
        }
        span {
          color: var(--surface-on-surface-var);
          font-size: 12px;
          font-weight: 400;
          line-height: 1.5;
          display: block;

          flex: 1;
          > a {
            color: var(--Primary-Primary-300, #e9819b);
            margin-left: 4px;
          }
        }
      }
    }
  }
}
