@import "@/styles/_variables.scss";
@import "@/styles/_mixin.scss";

.forget-account-modal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  //max-height: 614px;
  //height: calc(100vh - 200px);
  > .top {
    width: 100%;
    height: 56px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      color: var(--surface-on-surface);
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }
  }

  > .content {
    width: 100%;
    padding: 24px;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 48px;
    > .reset-title {
      color: var(--surface-on-surface);
      text-align: center;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 8px;
      margin: 0 auto;
      max-width: 260px;
      word-break: keep-all;
    }
    > pre {
      white-space: pre-line;
      color: var(--surface-on-surface-var);
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 44px;
    }
    > .check-email-row {
      margin-bottom: 44px;
      color: var(--surface-on-surface-var);
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;

      > span {
        color: var(--surface-on-surface);
      }
    }
    .mb {
      margin-bottom: 24px;
    }
    > button {
      border-radius: 8px;
      height: 48px;
      margin-top: 44px;
      &.mt-0 {
        margin-top: 0px;
      }
    }
  }
}
