@import "@/styles/_variables.scss";
@import "@/styles/_mixin.scss";

.special-deposit-bonus-modal {
  // height: 640px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-height: calc(100dvh - 200px);
  padding-bottom: 24px;
  > .top {
    width: 100%;
    height: 56px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
      color: var(--surface-on-surface);
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
  .content {
    width: 100%;
    padding: 24px;
    padding-bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    gap: 20px;
    > pre {
      color: var(--surface-on-surface-var);
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      white-space: pre-line;
    }
    div.step-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 12px;
      > .box {
        width: 100%;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        border-radius: 8px;
        background: var(--surface-surface);
        > div {
          flex: 1;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          > .step-info {
            color: var(--surface-on-surface);
            font-size: 14px;
            font-weight: 700;
            line-height: 1.5;
          }
          > .up-to-text {
            color: var(--semantic-warning-400);
            font-family: Poppins;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.2;
          }
          > .minimum-info-text {
            color: var(--surface-on-surface-var);
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 12px;
          }
        }
        > img {
          width: 82px;
        }
      }
    }
    > div.bonus-step-info {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      > p {
        color: var(--surface-on-surface);
      }
      > pre {
        white-space: pre-line;
        color: var(--surface-on-surface-var);
        padding-left: 4px;
      }
      > a {
        color: var(--surface-on-surface);
        text-decoration: underline;
      }
    }
  }
}
